@model adminlte.Models.Mst_CommPlan

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Edit Commitment Plan</h3>

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CommPlanid)

        <div class="form-group">
            @Html.LabelFor(model => model.CommPlanDesc,"Commitment Plan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.CommPlanDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CommPlanDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, "Is active", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <br />
        <div class="control-group">
            <div class="col-md-offset-2 controls">
                <button type="submit" value="Save" class="btn btn-primary">Save</button>
                <button type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Mst_CommPlan")'">Back</button>               
       </div>
        </div>
    </div>
}
