@model adminlte.Models.Mst_User

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Html.LabelFor(model => model.Mst_Role.RoleName,"Role")
        </dt>

        <dd>
        @Html.DisplayFor(model => model.Mst_Role.RoleName)
        </dd>

        <dt>
          @Html.LabelFor(model => model.Mst_RoleMap.RoleMapName,"Role map")
        </dt>

        <dd>
         @Html.DisplayFor(model => model.Mst_RoleMap.RoleMapName)
        </dd>

        <dt>
          @Html.LabelFor(model => model.UserName,"User Name")
        </dt>

        <dd>
        @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
          @Html.LabelFor(model => model.Password,"Password")
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
          @Html.LabelFor(model => model.FullName,"Full Name")
        </dt>

        <dd>
          @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
          @Html.LabelFor(model => model.Email, "Email")
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
          @Html.LabelFor(model => model.StatusKaryawan, "Status")
        </dt>

        <dd>
          @Html.DisplayFor(model => model.StatusKaryawan)
        </dd>

        <dt>
           @Html.LabelFor(model => model.StartEmploye,"Start Employe")
        </dt>

        <dd>
         @Html.DisplayFor(model => model.StartEmploye)
        </dd>

        <dt>
          @Html.LabelFor(model => model.IsActive, "Is Active")
        </dt>

        <dd>
          @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CommPlanOpen, "Open Commitment Plan")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommPlanOpen)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PerfReviewOpen, "Open Performance Review")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfReviewOpen)
        </dd>

        <dt>
          @Html.LabelFor(model => model.DirectReportId,"Report To")
        </dt>

        <dd>
         @Html.DisplayFor(model => model.DirectReportId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <dl class="dl-horizontal">
            <dt></dt>
            <dd class="form-group">
                <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
                <button type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Mst_User")'">Cancel</button>
            </dd>
        </dl>

    }
</div>
