@model adminlte.Models.Mst_Perform

@{
    ViewBag.Title = "Create";
}

<h3>Create Master Performance</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PerformDesc, "Performance", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PerformDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PerformDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleMapId, "Role Map", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("RoleMapId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleMapId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive,"Is active", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" }) 
            </div>
        </div>

        <div class="control-group">
            <div class="col-md-offset-2 controls">
                <button type="submit" value="Create" class="btn btn-primary">Create</button>
                <button type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Mst_Perform")'">Back</button> 
               
            </div>
        </div>
    </div>
}
