@model IEnumerable<adminlte.Models.Mst_CommPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommPlanDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommPlanDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommPlanid }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommPlanid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommPlanid })
        </td>
    </tr>
}

</table>
